body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Jua", sans-serif;
    color: #fff;
    background-color: #D6D6D6;
}

/* CALCULATOR CONTAINER */
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-content {
    padding: 2rem;
    border-radius: 20px;
    background-color: #6D7FB5;
}

.container-content > h1 {
    color: #fff;
    text-shadow:  
        2px 0 #2f3d71, /* Shadow on the right. */
       -2px 0 #2f3d71, /* Shadow on the left. */
        0 2px #2f3d71, /* Shadow on the bottom. */
        0 -2px #2f3d71, /* Shadow on the top. */
        2px 2px #2f3d71, /* Bottom-right corner. */
       -2px 2px #2f3d71, /* Bottom-left corner. */
        2px -2px #2f3d71, /* Top-right corner. */
       -2px -2px #2f3d71; /* Top-left corner. */
}


/* BUTTON STYLE */
#start-button {
    width: 5rem;
    height: 2rem;
    padding: 1px;
    border: none;
    border-radius: 15px;
    color: #fff;
    background-color: #385098cb;
    transition: 0.3s;
}

#start-button:hover {
    cursor: pointer;
    background-color: #2b4185cb;
}